.mx-auto {
    max-width: 75vw;
    margin :0px auto;
}

.header-colors {
    background-color: #1F2937;
    color:white;
}

.flex-row {
    display:flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex:1;
}

.flex-2 {
    flex:2;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

.gap-6 {
    gap: 6rem;
}

.gap-7 {
    gap: 7rem;
}

.wrap {
    flex-wrap: wrap;
}


.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

body{
    padding:0;
    margin:0;
}

#cover-image {
    max-height: 45vh;
    max-width: 100vh;
    object-fit: cover;
    margin: 0 auto;
}

.header {
    padding: 1rem 0px 8rem;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details-button {
    border-style: none;
    background-color: #3882F6;
    color: white;
    border: 3px solid #3882F6;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    align-self: flex-start;
    border-radius: 10px;
    padding: 0.75em 3em;
}

.details-button:hover {
    background-color: white;
    color: #3882F6;
    border: 3px solid #3882F6;
}

main .flex-row {
    align-items: stretch;
}

.info {
    flex-basis: 20%;
    min-height: 20%;
    margin: 4rem 0;
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    border-radius: 25px;
    border: 5px solid #3882F6;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    overflow: hidden;
}

.main-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3rem auto;
}

.caption {
    font-size: 18px;
    color: rgb(65, 77, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.quote-section {
    padding: 7rem 0rem;
    margin: 0;
    background-color: #E5E7EB;
}

.quote {
    margin-left: 20%;
}

.quote-text {
    margin: 1rem;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    box-sizing: border-box;
    color:#1F2937
}

.quoted-person {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#1F2937
}

.contact-section {
    background-color: #3882F6;
    color:white;
    margin: 7rem 2rem;
    padding: 3rem 5rem;
    border-radius: 10px;
}

.contact-text-main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.contact-text-sub {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.contact-button {
    border-style: none;
    background-color: #3882F6;
    color: white;
    border: 3px solid white;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    align-self: flex-start;
    border-radius: 10px;
    padding: 0.75em 2em;
}

.contact-button:hover {
    background-color: white;
    color: #3882F6;
    
}

footer {
    padding: 3rem 0rem;
    background-color:#1F2937;
    color:#E5E7EB;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}